footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  flex-direction: column;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.footer-icons__desc {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.footer-icons__img {
  width: 35px;
  height: 35px;
}

@keyframes icons-doongdoong {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons:hover .footer-icons__img {
  animation: 2s icons-doongdoong infinite;
}
